.Top {
    height: 100%;
    width: 100%;
    background-color: #FFFFFF;
    margin-left: 200px;
    padding: 32px 52px 130px 74px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.App-logo{
    width: 435px;
    height: 116px;
    margin-bottom: 56px;
    margin-left: 428px;
}

/* 全て　査定中　呼び出し中　対応完了 */
.Tab{
    margin-bottom: 59px;
    padding: 0 0 0 2.03px;
    display: inline;
    float:left;
    align-items: center;
}

/* 赤タブ */
.Tab-red{
    background-color: #DB020D;
    margin-right: 12.19px;
    border-color: #DB020D;
    border-radius: 13px;
    padding: 7px 121.66px 7px 121.67px;
    display: inline-block;
    align-items: center;
}
/* 赤タブ内の文字 */
.Tab-red-text{
    text-align: center;
    width: 90.52px;
    color: #FFFFFF;
    font-family: "Inter";
    font-size: 20px;
    font-weight: bold;
    line-height: normal;
}
/* 白タブ */
.Tab-white {
    background-color: #FFFFFF;
    margin-right: 21.32px;
    border-radius: 13px;
    padding: 6px 99.1px 6px 97.93px;
    display: inline-block;
    align-items: center;
    border: 1px solid #DB020D;
}
/* 白タブ内の文字 */
.Tab-white-text {
    text-align: center;
    width: 109.67px;
    color: #DB020D;
    font-family: "Inter";
    font-size: 20px;
    font-weight: bold;
    line-height: normal;
}

.Tab-white:hover{
  background-color: #DB020D;
}

.Tab-white:hover .Tab-white-text{
  color: #FFFFFF;
}
/* 受付番号 時間 ステータス */
.Table {
    margin-bottom: 5.97px;
    padding: 0 0 0 82px;
    display: flex;
    align-items: flex-start;
}
/* 受付番号 */
.Table-reserve-num{
    height: 47px;
    width: 158px;
    color: #545050;
    display: flex;
    margin-left: 0px;
    margin-right: 60px;
    font-family: var(--inter-36-bold-family);
    font-size: 24px;
    font-weight: bold;
    line-height: normal;
}
/* 受付時間 */
.Table-reserve-time{
    height: 47px;
    width: 157px;
    color: #545050;
    display: flex;
    margin-left: 30px;
    margin-right: 40px;
    font-family: var(--inter-36-bold-family);
    font-size: 24px;
    font-weight: bold;
    line-height: normal;
}
/* 経過時間 */
.Table-elapsed-time {
    height: 47px;
    width: 157px;
    color: #545050;
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
    font-family: var(--inter-36-bold-family);
    font-size: 24px;
    font-weight: bold;
    line-height: normal;
    ;
}
/* ステータス */
.Table-status {
    height: 47px;
    width: 188px;
    color: #545050;
    display: flex;
    margin-left: 20px;
    font-family: var(--inter-36-bold-family);
    font-size: 24px;
    font-weight: bold;
    line-height: normal;
}

.Table-detail{
  height: 47px;
  width: 188px;
  color: #545050;
  display: flex;
  margin-left: 20px;
  font-family: var(--inter-36-bold-family);
  font-size: 24px;
  font-weight: bold;
  line-height: normal;
}

/* 赤色の横棒 */
.Table-column-bar {
  height: 12px;
    width: 1140px;
    margin-top: 0px;
    margin-bottom: 10.03px;
    border-radius: 13px;
    background-color: #DB020D;
}  

.num-background {
    background-color: #EAE9E9;
    margin-top: 20px;
    margin-bottom: 2px;
    margin-left: 1px;
    border-radius: 24px;
    padding: 2px 37px 1px 110px;
    display: flex;
    align-items: flex-start;
    text-align: center;
  }
  .num {
    height: 45px;
    width: 108px;
    color: #545050;
    display: flex;
    text-align: center;
    margin-left: 10px;
    margin-right: 100px;
    font-family: var(--inter-36-bold-family);
    font-size: 24px;
    font-weight: bold;
    line-height: normal;
}
.num-reserve-time {
    height: 45px;
    width: 108px;
    color: #545050;
    display: flex;
    text-align: center;
    margin-left: 0px;
    margin-right: 108px;
    font-family: var(--inter-36-bold-family);
    font-size: 24px;
    font-weight: bold;
    line-height: normal;
}
.num-elapse-time {
    height: 45px;
    width: 108px;
    color: #545050;
    display: flex;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    font-family: var(--inter-36-bold-family);
    font-size: 24px;
    font-weight: bold;
    line-height: normal;
  }
  .num-status {
    height: 45px;
    width: 120px;
    color: #545050;
    display: flex;
    text-align: center;
    margin-left: 110px;
    margin-right: 50px;
    font-family: var(--inter-36-bold-family);
    font-size: 24px;
    font-weight: bold;
    line-height: normal;
  }

  .button-detail{
    background-color: #FFFFFF;
    margin-left: 0px;
    margin-right: 10.32px;
    border-radius: 13px;
    padding: 6px 19.1px 6px 17.93px;
    /* display: flex; */
    align-items: center;
    border: 1px solid #DB020D;
  }

  .button-detail:hover{
    background-color: #DB020D;
  }

  .button-detail-text {
    text-align: center;
    width: 109.67px;
    color: #DB020D;
    font-family: "Inter";
    font-size: 20px;
    font-weight: bold;
    line-height: normal;
}

.button-detail:hover .button-detail-text{
  color: #FFFFFF;
}

.react-modal{
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  padding: 2em;
  min-width: 20em;
  min-height: 40em;
  max-width: 50%;
  color: #545050;
  font-weight: bold;
  background-color: #fff;
  border-radius: 1em;
  transform: translate(-50%, -50%);
  outline: transparent;
  text-align: center;
}

.Overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.03);
}

.modal-text{
  color: #545050;
  font-weight: bold;
  font-family: "Inter";
  font-size: 25px;
  font-weight: bold;
  line-height: normal;
}

.modal-logo{
  height: 80%;
  width : 80%;
}